@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*::before, 
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 60px;
  font-family: 'DM Serif Display', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/tom-barrett-hgGplX3PFBg-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  transition: all 0.5s ease;
}

p{
  font-size: 1.6rem;
}
h1{
  font-size: 3.6rem;
  margin: 0;
  padding: 0;
}
.app{
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

}

.app::before{
  content: '';
  
  position:absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index:-1; 


}
.container{
  position: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  width: 80%;
  backdrop-filter: blur(3px);
  padding: 20px;
  border-radius: 20px;
  display:block;
  flex-direction: column;
  transition: all 500ms ease;
  
}
.container .search{  
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  height: auto;
  min-width: 20%;
  flex-wrap: wrap;
  
}

.search input{
  flex: 1;
  
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;  
  transition: all 0.3s ease;
}
.search input:focus{
  outline: none;
  box-shadow: 0 0 10px #000;
}

button{
  padding: 15px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: grey; 
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
}
h1{
  font-size: 4rem;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 0;
  line-height: 1.2;
}
h2{
  font-size: 1.2rem;
  margin: 0;
  padding-left: 10px;
  line-height: 1;
}
h3{
  font-size: 3rem;
  margin: 0;
  padding-left: 10px;
  line-height: 1.2;
}
p{
  font-size: 1.7rem;
  margin: 0;
  padding-left: 10px;
  line-height: 1.2;
}


.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.bottomBox {
  position: relative;
  background-color: rgba(202, 183, 147, 0.2);
  border-radius: 10px;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column; 
  height: 100px;
  align-items: center;
  opacity: 0;
  justify-content: center;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.bottom.visible .bottomBox {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s ease; 
  }


@media (max-width: 768px){
  body{
    display: block;
    margin: 2rem 0;
    width: 100%;
  }
}

